<div id="navigationBar">
  <%= link_to "All projects", projects_path %> |
  <%= link_to "My projects", my_projects_path %> >
  <%= link_to @project.name, project_path(@project.url_name) %><% if meet_team_requirements? :manage_project %> (<%= link_to "edit", edit_project_path(@project.url_name) %>)<% end %> >
  <%= link_to "Milestones", project_milestones_path(@project.url_name) %> >
  <%= link_to @milestone.name, project_milestone_path(@project.url_name, @milestone.id) %> >
  edit
</div>
<div id="content" class="clearfix">
  <h3>Editing project <%= link_to @project.name, project_path(@project.url_name) %> milestone <%= @milestone.name %></h3>

  <%= render 'form' %>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>