<div id="navigationBar">
  <%= link_to "All users", users_path %> >
  <%= link_to @user.login, user_path(@user.url_name) %> >
  edit
</div>
<div id="content" class="clearfix">
  <h3>Editing <%= @user.login %>'s profile</h3>

  <%= render 'form' %>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>
