<div id="navigationBar">
  <%= link_to "All users", users_path %> > <%= paginate @users, params: { action: 'index', controller: 'users' } %>
</div>
<div id="content" class="clearfix">
  <h3>Listing users</h3>
  <p>Here you can see all of developers taking a part in many projects. You can invite them to your own team.</p>
  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th></th>
      <% if meet_requirements? :manage_users %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.login, user_path(user.url_name) %></td>
      <td><%= mail_to user.email %></td>
      <td><%= (current_user && current_user.id.equal?(user.id)) ? '' : link_to('Invite to team', invite_user_path(user.url_name)) %></td>
      <% if meet_requirements? :manage_users %>
      <td><%= link_to 'Edit', edit_user_path(user.url_name) %></td>
      <td><%= link_to 'Destroy', user_path(user.url_name), confirm: 'Are you sure?', method: :delete %></td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <% if current_user && meet_requirements?(:manage_users) %>
  <%= link_to 'Register new user', new_user_path %>
  <% end %>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>