<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
    <% if meet_requirements? :manage_users %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user_path(user.url_name) %></td>
    <td><%= user.email %></td>
    <td><%= (current_user && current_user.id.equal?(user.id)) ? '' : link_to('Invite to team', invite_user_path(user.url_name)) %></td>
    <% if meet_requirements? :manage_users %>
    <td><%= link_to 'Edit', edit_user_path(user.url_name) %></td>
    <td><%= link_to 'Destroy', user_path(user.url_name), confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user && meet_requirements?(:manage_users) %>
<%= link_to 'Register new user', new_user_path %>
<% end  %>
<%= paginate @users, params: { action: 'index', controller: 'users' } %>