<div id="navigationBar">
  <%= link_to "All users", users_path %> >
  <%= @user.login %><% if meet_requirements?(:manage_users) || owner? %> (<%= link_to 'edit', edit_user_path(@user.url_name) %>)<% end %>
</div>
<div id="content" class="clearfix">
  <h3><%= @user.login %>'s profile</h3>
  
  <p><b>Username:</b> <%= @user.login %> (<%= mail_to @user.email %> | <%= @user.www %>)</p>
  <p><b>Name:</b> <%= @user.name ? @user.name : "---" %></p>
  <p><b>Surname:</b> <%= @user.surname ? @user.surname : "---" %></p>
  <p><b>About me:</b></p>
  <p><%= @user.about_me ? @user.about_me : "---" %></p>
  
  <% if meet_requirements?(:manage_privileges) && @user.admin? %>
  <p><b>Privileges:</b></p>
  <ul>
  <% User.symbols(:privilege_types).each do |privilege| %>
    <% if @user.send(privilege) %>
    <li><%= privilege.to_s %></li>
    <% end %>
  <% end %>
  </ul>
  <% end %>

  
  <p><b><%= @user.login %>'s projects</b></p>
  
  <% if @user.projects.blank? %>
  <p><b>This user doesn't have any projects yet.</b></p>
  <% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Short description</th>
    </tr>
    <% @user.projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project_path(project.url_name) %></td>
      <td><%= project.short_description %></td>
    </tr>
    <% end %>
  </table>
  <% end %>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>


