<div id="navigationBar">
  <%= link_to "Home", home_index_path %> >
  About
</div>
<div id="content" class="clearfix">
  <h3>About</h3>

  <p>TeamProject was created by <%= link_to "Mateusz Kubuszok", "http://github.com/MateuszKubuszok" %> as a assignment for Database Applications course.</p>

  <p>Besides bug and issue tracker it allows ETL for MDX report generation (not very useful though).</p>

  <p>Main profit was the oportunity to learn something useful about <%= link_to "Ruby", "http://www.ruby-lang.org" %> and <%= link_to "RoR", "http://rubyonrails.org‎" %> application development.</p>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>
