<div id="navigationBar">
  <%= link_to "All projects", projects_path %> |
  <%= link_to "My projects", my_projects_path %> >
  <%= link_to @project.name, project_path(@project.url_name) %><% if meet_team_requirements? :manage_project %> (<%= link_to "edit", edit_project_path(@project.url_name) %>)<% end %> >
  <%= link_to "Milestones", project_milestones_path(@project.url_name) %> >
  <%= link_to @milestone.name, project_milestone_path(@project.url_name, @milestone.id) %><% if meet_team_requirements? :manage_milestones %> (<%= link_to "edit", edit_project_milestone_path(@project.url_name, @milestone.id) %>)<% end %> >
  Tickets
</div>
<div id="content" class="clearfix">
  <h3>Listing project <%= link_to @project.name, project_path(@project.url_name) %>/milestone <%= link_to @milestone.name, project_milestone_path(@project.url_name, @milestone.id) %> tickets</h3>

  <% if @milestone.tickets.blank? %>
  <p>Milestone doesn't have any ticket yet.</p>
  <% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Responsible member</th>
      <th>Deadline</th>
      <% if meet_team_requirements?(:manage_tickets) %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
    <% @tickets.each do |ticket| %>
    <tr>
      <td><%= link_to ticket.name, project_milestone_ticket_path(@project.url_name, @milestone.id, ticket.id) %></td>
      <td><%= ticket.description ? ticket.description : "---" %></td>
      <td><%= ticket.status %></td>
      <td><%= ticket.priority %></td>
      <td><%= link_to ticket.user.login, user_path(ticket.user.url_name) %></td>
      <td><%= ticket.deadline %></td>
      <% if meet_team_requirements?(:manage_tickets) %>
      <td><%= link_to 'Edit', edit_project_milestone_ticket_path(@project.url_name, @milestone.id, ticket.id) %></td>
      <td><%= link_to 'Destroy', project_milestone_ticket_path(@project.url_name, @milestone.id, ticket.id), confirm: 'Are you sure?', method: :delete %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <% end %>

  <% if meet_team_requirements? :manage_tickets %>
  <%= link_to 'New Ticket', new_project_milestone_ticket_path(@project.url_name, @milestone.id) %>
  <% end %>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>
