<div id="navigationBar">
  <%= link_to "My projects", my_projects_path %> |
  All projects 
  <%= paginate @projects, params: { action: 'index', controller: 'projects' } %>
</div>
<div id="content" class="clearfix">
  <h3>Listing projects</h3>

  <p>List of all public projects.</p>
  
  <table>
    <tr>
      <th>Name</th>
      <th>Short description</th>
      <th>Tags</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @projects.each do |project| %>
    <tr>
      <td><%= allowed_to_see?(project) ? link_to(project.name, project_path(project.url_name)) : project.name %></td>
      <td><%= project.short_description %></td>
      <td><% project.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.name) %>
          <% end %></td>
      <td><%= allowed_to_see?(project) ? link_to("bugtracker", project_bugs_path(project.url_name)) : '' %></td>
      <td><% if meet_requirements?(:manage_projects) || meet_team_requirements?({any: [:manage_project, :manage_team ]}, project) %>
          <%= link_to 'Edit', edit_project_path(project.url_name) %>
          <% end %></td>
      <td><% if meet_requirements?(:manage_projects) || meet_team_requirements?(:manage_project, project) %>
          <%= link_to 'Destroy', project_path(project.url_name), confirm: 'Are you sure?', method: :delete %>
          <% end %></td>
    </tr>
    <% end %>
  </table>

  <%= link_to 'New Project', new_project_path %>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>
