<div id="navigationBar">
  <%= link_to "My projects", my_projects_path %> |
  All projects 
  <%= paginate @projects, params: { action: 'index', controller: 'projects' } %>
</div>
<div id="content" class="clearfix">
  <h3>Listing projects</h3>

  <p>List of all public projects.</p>
  
  <% @projects.each do |project| %>
  <div class="project">
    <h3><%= allowed_to_see?(project) ? link_to(project.name, project_path(project.url_name)) : project.name %></h3>
    <div class="menu">
      <ul>
        <li><%= allowed_to_see?(project) ? link_to("Bugtracker", project_bugs_path(project.url_name)) : '' %></li>
        <% if meet_requirements?(:manage_projects) || meet_team_requirements?({any: [:manage_project, :manage_team ]}, project) %>
        <li><%= link_to 'Edit', edit_project_path(project.url_name) %></li>
        <% end %>
        <% if meet_requirements?(:manage_projects) || meet_team_requirements?(:manage_project, project) %>
        <li><%= link_to 'Destroy', project_path(project.url_name), confirm: 'Are you sure?', method: :delete %></li>
        <% end %>
      </ul>
    </div>
    <div><%= project.short_description %></div>
    <div class="tags"><b>Tags</b>: <% project.tags.each do |tag| %><%= link_to tag.name, tag_path(tag.name) %><% end %></div>
  </div>
  <% end %>

  <%= link_to 'New Project', new_project_path %>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>
