<h1>Listing my projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Short description</th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to(project.name, project_path(project.url_name)) %></td>
    <td><%= project.short_description %></td>
    <td><% if meet_requirements?(:manage_projects) || meet_team_requirements?({any: [:manage_project, :manage_team ]}, project) %>
    <%= link_to 'Edit', edit_project_path(project.url_name) %>
    <% end %></td>
    <td><% if meet_requirements?(:manage_projects) || meet_team_requirements?(:manage_project, project) %>
    <%= link_to 'Destroy', project_path(project.url_name), confirm: 'Are you sure?', method: :delete %>
    <% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
<%= paginate @projects, params: { action: 'index', controller: 'projects' } %>