<%= form_for([@project, @bug]) do |f| %>
  <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
      <% @bug.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status, %><br />
    <%= f.select :status, Bug.symbols(:status_types) %>
  </div>
  <div class="field">
    <%= f.label :type, %><br />
    <%= f.select :type, Bug.symbols(:type_types) %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.select :priority, Bug.symbols(:priority_types) %>
  </div>
  <div class="field">
    <%= f.label :short_description %><br />
    <%= f.text_field :short_description %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
