<h1>Listing bugs</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Type</th>
    <th>Priority</th>
    <th>Short description</th>
    <% if owner? %>
    <th></th>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @bugs.each do |bug| %>
  <tr>
    <td><%= bug.status %></td>
    <td><%= bug.type %></td>
    <td><%= bug.priority %></td>
    <td><%= link_to bug.short_description, project_bug_path(@project.url_name, bug.id) %></td>
    <% if owner? %>
    <td><%= link_to 'Edit', edit_project_bug_path(@project.url_name, bug.id) %></td>
    <td><%= link_to 'Destroy', project_bug_path(@project.url_name, bug.id), confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bug', new_project_bug_path(@project.url_name) %>
