<div id="navigationBar">
  <%= link_to "Forums", forums_path %> >
  <% @forum.parents.each do |parent| %>
      <%= link_to parent.name, forum_path(parent.id) %> (<%= link_to "edit", edit_forum_path(parent.id) %>) >
  <% end %>
  <%= link_to @forum.name, forum_path(@forum) %> (<%= link_to "edit", edit_forum_path(@forum.id) %>) >
  <%= link_to "threads" , forum_forum_threads_path(@forum.id) %> >
  <%= link_to @forum_thread.title, forum_forum_thread_path(@forum.id, @forum_thread.id) %> >
  edit
</div>
<div id="content" class="clearfix">
  <h3>Editing thread <%= link_to @forum_thread.title, forum_forum_thread_path(@forum.id) %></h3>

  <%= render 'form' %>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>
