<div id="navigationBar">
  <%= link_to "Forums", forums_path %> >
  <% @forum.parents.each do |parent| %>
      <%= link_to parent.name, forum_path(parent.id) %><% if meet_requirements? :manage_forums %> (<%= link_to "edit", edit_forum_path(parent.id) %>)<% end %> >
  <% end %>
  <%= link_to @forum.name, forum_path(@forum) %><% if meet_requirements? :manage_forums %> (<%= link_to "edit", edit_forum_path(@forum.id) %>)<% end %> >
  threads
</div>
<div id="content" class="clearfix">
  <h1>Listing threads</h1>

 <% if @forum_threads.blank? %>
 <p>There isn't any thread in this forum.</p>
 <% else %>
 <table>
   <tr>
     <th>Thread</th>
     <th>Last post</th>
     <% if meet_requirements? :manage_forums %>
     <th></th>
     <th></th>
     <% end %>
   </tr>
   <% @forum_threads.each do |forum_thread| %>
   <tr>
     <td><%= link_to forum_thread.title, [@forum, forum_thread] %></td>
     <td>by <%= link_to(forum_thread.last_post_author.login, users_path(forum_thread.last_post_author.url_name)) %>
         at <%= forum_thread.last_post_time %></td>
     <% if meet_requirements? :manage_forums %>
     <td><%= link_to 'Edit', edit_forum_forum_thread_path(@forum, forum_thread) %></td>
     <td><%= link_to 'Destroy', [@forum, forum_thread], confirm: 'Are you sure?', method: :delete %></td>
     <% end %>
   </tr>
   <% end %>
 </table>
 <% end %>

 <%= link_to 'New thread', new_forum_forum_thread_path(@forum) %>

 <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>
