<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Team project</title>
  <%= stylesheet_link_tag    "frames", cache: true %>
  <%= stylesheet_link_tag    "fullpage", cache: true %>
  <%= stylesheet_link_tag    "colors", cache: true %>
  <%= javascript_include_tag "application", params[:controller], cache: true %>
  <%= csrf_meta_tags %>
</head>
<body<%= raw (widescreen_layout? ? " class=\"fullPage\"" : "") %>><div id="wrap">
<div id="mainFrame"<%= tab.nil? ? "" : raw(' class="'+tab+'"') %>>
  <div id="headerFrame">
	<div id="headerContent">
	  <div id="userBar"><span>
        <% if current_user %>
        <p><%= link_to "Logged as #{current_user.login}", user_path(current_user.url_name) %> | <%= link_to "Edit Profile", edit_user_path(current_user.url_name) %> | <%= link_to "Logout", :logout %></p>
        <p><%= link_to 'My Projects', my_projects_path %> | <%= link_to "Invitations (#{current_user.team_invitations.count})", invitations_path %></p>
        <% else %>
        <p><%= link_to "Register", :register %></p>
        <p><%= link_to "Login", :login %></p>
        <% end %>
        <p><%= link_to (widescreen_layout? ? "Fixed width" : "Fullpage width"), widescreen_switch_path %></p>
	  </span></div>
      <div id="title">
	    <h1><span style="color:#fff">Team</span><span style="color:#ea0">Project</span></h1>
		<h2>Tools for team development</h2>
	  </div>
      <ul><li><%= link_to content_tag(:span, "Home"), home_index_path, id: "home" %></li><li><%= link_to content_tag(:span, "Projects"), projects_path, id: "projects" %></li><li><%= link_to content_tag(:span, "Users"), users_path, id: "users" %></li><li><%= link_to content_tag(:span, "Forums"), forums_path, id: "forums" %></li><li><%= link_to content_tag(:span, "Tags"), tags_path, id: "tags" %></li></ul>
	</div>
  </div>
  <div id="contentFrame">
    <%= yield %>
  </div>
</div>
</div>
<div id="footerFrame">
  <div id="footerContent">
	<div>Copyright 2012.</div>
	<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dolor justo, eleifend in fermentum eu, mollis et nibh. Nam pharetra ipsum non neque elementum pretium.</div>
	<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dolor justo, eleifend in fermentum eu, mollis et nibh. Nam pharetra ipsum non neque elementum pretium.</div>
	<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dolor justo, eleifend in fermentum eu, mollis et nibh. Nam pharetra ipsum non neque elementum pretium.</div>
	<div><%= link_to "FAQ", faq_home_index_path %><br /><%= link_to "About", about_home_index_path %><br /><%= link_to "Sitemap", sitemap_home_index_path+".xml" %></div>
  </div>
</div></body>
</html>